@page
@model Fido2me.Pages.OidcApp.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OidcBasicClient</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form method="post" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OidcClientEdit.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OidcClientEdit.Enabled" /> @Html.DisplayNameFor(model => model.OidcClientEdit.Enabled)
                </label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Client ID</span>
                <input class="form-control" readonly asp-for="OidcClientEdit.Id" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Client Name</span>
                <input type="text" class="form-control" placeholder="MyAppName" aria-label="MyAppName" asp-for="OidcClientEdit.Name" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Description</span>
                <input type="text" class="form-control" asp-for="OidcClientEdit.Description">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Type</span>
                <input type="text" class="form-control" asp-for="OidcClientEdit.Type" disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Scope</span>
                <input type="text" class="form-control" asp-for="OidcClientEdit.Scope" disabled>
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Callback URL</span>
                <input type="text" class="form-control" placeholder="https:/MyAppDomain.com/signin-oidc" asp-for="OidcClientEdit.RedirectUri" required />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text fw-bold w-25">Allowed Origin</span>
                <input type="text" class="form-control" placeholder="https:/MyAppDomain.com/signin-oidc" asp-for="OidcClientEdit.CorsOrigin" />
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
