@page "/auth/ciba/{handler?}"

@model Fido2me.Pages.auth.CibaLoginModel
@{
    ViewData["Title"] = "Client Initiated Backchannel Authentication Login";
    Layout = "~/Pages/Shared/_LayoutAuth.cshtml";
}

<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">                
            </div>
            <h1 class="auth-title">CIBA Sign in</h1>
            <p class="auth-subtitle mb-5">Use another device for sign in</p>

            <p class='text-gray-600'>
                Client Initiated Backchannel Authentication (CIBA) allows to create a sign in request and approve it from another authenticated device.
                <a class="" data-bs-toggle="collapse" data-bs-target="#cibaHelp" href="#cibaHelp">
                    Expand...
                </a>
            </p>

            <div class="collapse text-gray-600" id="cibaHelp">                
                <ul>
                    <li>1. Enter the username to "Sign in as"</li>
                    <li>2. Click the "Sign in as" button. You will have 3 minutes to complete the approval from another device.</li>
                    <li>3. Go to the Request page from another authenticated device</li>
                    <li>4. Process the request and compare the binding message from this page.</li>
                    <li>5. Provide a consent to authenticate the current device</li>
                    <li>6. Go back to this page and click the "Continue" button</li>
                    <li>7. It will completed the CIBA flow</li>
                    <li>You may or not want to add the current device to the list of authenticators.</li>
                </ul>
            </div>

            @if (Model.CibaLoginVM != null)
            {   <div>
                    <p class="fw-bold">Username: @Model.CibaLoginVM.Username</p>
                    <p class="fw-bold">Binding Message: @Model.CibaLoginVM.Message</p>
               
                    <p>Click "Continue" after completing the approval from another device.</p>

                    <form asp-page-handler="continue" method="post">                
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg">Continue</button>                
                    </form>
                </div>
            }
            else
            {
                <div asp-validation-summary="ModelOnly" class="field-validation-error mt-3"></div>

                <form method="POST" name="loginForm" id="loginForm">
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" class="form-control form-control-xl" id="username" name="username"  placeholder="Username" required pattern="[a-zA-Z0-9]+" title="Alphanumeric only" />
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg">Sign in as</button>                
                </form>
            }
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>