@page "/authenticatedpage"
@using System.Security.Claims
@model Fido2me.Pages.AuthenticatedPageModel
@{
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Authenticated!</h1>
    <p>
        Hello, @User.FindFirstValue("sub")
    </p>
}
else
{
    <h1>Unauthenticated</h1>
}