@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="page-heading">
    <h3>Welcome</h3>
</div>
<div class="page-content">
    <table class="table">
      <tbody>
        <tr>
          <th>Account ID</th>
          <td>@Model.Account.Id</td>
        </tr>
        <tr>
          <th>Account Type</th>
          <td>@Model.Account.AccountType</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>@Model.Account.Email</td>
        </tr>
        <tr>
          <th>Email Verified</th>
          <td>@Model.Account.EmailVerified</td>
        </tr>
      </tbody>
    </table>

    @if (!Model.Account.EmailVerified.HasValue || !Model.Account.EmailVerified.Value)
    {
        <p>Please verify your email address to be able to create OAuth applications. We will use this email address only for important service notifications.</p>
        <p><a asp-page="/profile/EmailVerification">Verify Email</a></p>
    }
</div>
