@using Fido2me.Helpers
@addTagHelper *, Fido2me

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fido2me</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

   
    <link rel="stylesheet" href="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <h1 class="auth-title">Fido2Me</h1>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item" asp-page="/" is-active-page>
                            <a href="/" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li class="sidebar-item" asp-page="/profile/" is-active-page>
                            <a href="/profile/" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item" asp-page="/devices/" is-active-page>
                            <a href="/devices/" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Devices</span>
                            </a>
                        </li>

                        <li class="sidebar-item" asp-page="/apps/" is-active-page>
                            <a href="/apps/" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Applications</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/auth/logout" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Logout</span>
                            </a>
                        </li>

                        <li class="sidebar-title">Support</li>

                        <li class="sidebar-item  ">
                            <a href="https://github.com/Fido2me/fido2me/wiki" target="_blank" class='sidebar-link'>
                                <i class="bi bi-life-preserver"></i>
                                <span>Documentation</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            @RenderBody()

            <footer>
                <div class="footer clearfix mb-0 text-muted">  
                    <div class="float-end">
                        <p>2022 &copy; Fido2me</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script src="~/assets/js/fido2/helpers.js"></script>
    <script src="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/assets/js/mazer.js"></script>
    <script src="~/assets/vendors/sweetalert2/sweetalert2.min.js"></script>
</body>

</html>

