@page
@model Fido2me.Pages.profile.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h3>Welcome</h3>
</div>
<div class="page-content">
    <table class="table">
      <tbody>
        <tr>
          <th>Account ID</th>
          <td>@Model.Account.Id</td>
        </tr>
        <tr>
          <th>Account Type</th>
          <td>@Model.Account.AccountType</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>@Model.Account.Email</td>
        </tr>
        <tr>
          <th>Email Verified</th>
          <td>@Model.Account.EmailVerified</td>
        </tr>
      </tbody>
    </table>
   <p>
        <a class="btn btn-outline-primary" asp-page="/profile/Edit">Edit</a>
   </p>


</div>
